@model string
<div class="panel panel-default">
    <div class="panel-body">
        @Html.TextAreaFor(model => model, new { @class = "form-control tinymce", style="width: 100%; max-width: 100%" })
    </div>
</div>
