body {
    padding-top: 60px;
    padding-bottom: 45px;
    background: url("../Images/bg.jpg") top center repeat-y;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0;
}

form {
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img {
    max-width: 100%!important;
}

.bg-transparent {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.7);
}


.datetimewrapper {
    max-width: 450px;
}

    .datetimewrapper div {
        padding: 0;
    }

        .datetimewrapper div .form-control {
            padding: 0;
        }

.navbar-custom .dropdown-menu {
    background-color: #0062AE;
}

.navbar-custom .dropdown-menu > li > a {
    color: white;
}

.navbar-custom .dropdown-menu > li > a:hover {
    color: #0062AE;
}

.navbar-custom .navbar-toggle {
    border-color: #ffffff;
}

    .navbar-custom .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

.navbar-custom .nav > li > a, .navbar-custom .nav > li > a, .navbar-custom .navbar-brand {
    color: white;
}

    .navbar-custom .nav > li > a:hover, .navbar-custom .nav > li > a:focus {
        text-decoration: none;
        background-color: #36a8ff;
    }

.navbar-custom {
    background-image: -webkit-linear-gradient(top, #36a8ff 0%, #0062AE 100%);
    background-image: -o-linear-gradient(top, #36a8ff 0%, #0062AE 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#36a8ff), to(#0062AE));
    background-image: linear-gradient(to bottom, #36a8ff 0%, #0062AE 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff36a8ff', endColorstr='#ff0062AE', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

    .navbar-custom .navbar-nav > .open > a,
    .navbar-custom .navbar-nav > .active > a {
        background-image: -webkit-linear-gradient(top, #74c3ff 0%, #36a8ff 100%);
        background-image: -o-linear-gradient(top, #74c3ff 0%, #36a8ff 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#74c3ff), to(#36a8ff));
        background-image: linear-gradient(to bottom, #74c3ff 0%, #36a8ff 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74c3ff', endColorstr='#ff36a8ff', GradientType=0);
        -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
    }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.15);
    box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.15);
}

#pageEmptyFiller {
    background-color: transparent;
}

#dpMain {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

#maiPage {
    padding-right: 230px;
}

    #maiPage .events {
        padding: 10px;
    }

    #maiPage .event {
        margin-bottom: 10px;
        color: #003C6A;
        font-size: 14px;
    }

        #maiPage .event img {
            float: left;
            margin: 0 10px 10px 0;
        }

        #maiPage .event h3 {
        }

            #maiPage .event h3 a {
                color: #FF4900;
                text-decoration: none;
            }

            #maiPage .event h3 small {
                color: #004E8A;
            }

                #maiPage .event h3 small a {
                    color: #FFBF00;
                }

#eventPage {
    padding: 10px;
    color: #003C6A;
    font-size: 14px;
}

    #eventPage h2 {
        color: #FF4900;
        text-decoration: none;
    }

        #eventPage h2 small {
            color: #004E8A;
        }

            #eventPage h2 small a {
                color: #FFBF00;
                text-decoration: none;
            }

@media (max-width: 767px) {

    #dpMain {
        display: block;
        position: relative;
    }

        #dpMain .datepicker.datepicker-inline {
            margin-left: auto;
            margin-right: auto;
        }


    #maiPage {
        padding-right: 0;
    }
}
